@import "../../../../../vars.css";
.container {
  border-radius: 16px;
  margin-top: 20px;
  padding: 30px 70px;
  width: 100%;
  box-shadow: 0px 3px 6px #b9b9b9;
  text-align: left;
  position: relative;
  transition: all 0.5s ease;
  color: var(--color-textGray);
  font-family: raleway;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.date {
  font-size: 16px;
  font-weight: 400;
  color: #3a3a3a;
  margin-bottom: 10px;
}

.workloadTitle {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
  font-family: lato;
}

.content {
  font-family: lato;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  max-width: 1000px;
}

.break {
  max-width: 1000px;
  margin-bottom: 20px;
}

.agree {
  color: #162d45;
  font-size: 16px;
  font-family: lato;
  margin-right: 40px;
  margin-top: 20px;
  color: var(--color-agree);
}

.disagree {
  color: #162d45;
  font-size: 16px;
  font-family: lato;
  margin-right: 40px;
  margin-top: 20px;
  color: var(--color-disagree);
}

.reactions {
  margin-top: 20px;
}

@media (max-width: 500px) {
  .container {
    padding: 30px 30px;
    max-height: 500px;
    overflow-y: hidden;
  }
  .expanded {
    max-height: 1000px;
  }
  .reactions {
    margin-bottom: 25px;
  }
}
