@import "../../vars.css";
.text {
  font-size: 1rem;
  font-family: Lato;
  font-weight: 400;
}

.title {
  font-family: Raleway;
  font-weight: 500;
  font-size: 1.375rem;
}

.container {
  padding-bottom: 1rem;
}
