.card {
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 3.125rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: raleway;
  font-weight: 700;
  width: 100%;
}

.prof {
  font-size: 1.875rem;
}

.course {
  font-size: 1.5rem;
}

.nugget {
  position: absolute;
  left: 0%;
  top: 5%;
}

.headerContainer {
  margin-top: 1.875rem;
  max-width: 12.5rem;
  display: flex;
  justify-content: space-between;
}

.subheader {
  font-size: 1.625rem;
  font-family: lato;
  font-weight: 400;
}

.content {
  text-align: center;
  margin: auto;
}

.horizontal {
  height: 1px;
  border-width: 0px;
  background-color: white;
  width: 80%;
  margin: 0.313rem 0rem;
}

/* tablet size */
@media (max-width: 1200px) {
  .card {
    width: 32%;
    padding: 3.125rem 1.875rem 3.125rem 1.875rem;
  }
}

@media (max-width: 900px) {
  .card {
    width: 48%;
  }
  .title {
    font-size: 1.625rem;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
    margin-bottom: 1rem;
  }
}
