@import "../../../vars.css";
.result {
  border: none;
  border-radius: 6px;
  padding: 10px 0px;
  font-family: lato;
  font-size: 16;
  background-color: white;
  color: var(--color-textGray);
  text-align: left;
  padding-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

.result:hover {
  background-color: #d1e2ff;
}

/*
background-color: #D1E2FF;
*/
