@import "../../../vars.css";
.error {
  background-color: var(--color-warningBackground);
  color: var(--color-warning);
  padding: 0.625rem;
  margin: 0.313rem 0rem;
  font-family: lato;
  font-weight: 400;
  border-radius: 0.563rem;
}
