@import "../../../../vars.css";
.container {
  background-color: var(--color-darkBlue);
  color: white;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.625rem 0.625rem 1.25rem;
  border-radius: 0.5rem;
}

.addReview {
  padding: 0.313rem 0.5rem;
  font-family: lato;
  color: var(--color-darkBlue);
  background-color: white;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.reviewNumber {
  font-family: lato;
  margin-right: 1.25rem;
}

.reviewFilter {
  font-family: lato;
}

.reviewFilter:hover {
  cursor: pointer;
}

.image {
  margin-right: 0.625rem;
}

@media (max-width: 600px) {
  .image {
    display: none;
  }
  .reviewNumber {
    display: none;
  }
  .reviewFilter {
    display: inline-block;
    margin-right: 0.625rem;
  }
}
