.container {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
  padding: 0% 2%;
}

.loadingContainer {
  margin-top: 7rem;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    padding: 0%;
  }
}
