.container {
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 30%;
    border: 3px solid red;
    text-align: center;
    padding: 20px;
}

.reviews {
    width: 70%;
    border: 3px solid blue;
    text-align: center;
}