@import "../../vars.css";

.image {
  margin-right: 0.625rem;
}
.container {
  text-align: center;
  color: white;
  padding-top: 6.25rem;
  z-index: 1;
  width: 60%;
  margin: auto;
  position: relative;
  height: 85vh;
  max-width: 46.875rem;
}

.siteName {
  display: flex;
  margin: auto;
  margin-bottom: 1.25rem;
  align-items: center;
  justify-content: center;
  font-family: palanquin;
  font-size: 2.875rem;
  font-weight: bold;
}

.explore {
  font-family: raleway;
}

.samples {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.submitLink {
  display: inline-block;
  text-decoration: none;
  margin-top: 0.625rem;
  background: none;
  color: white;
  background-color: var(--color-darkestBlue);
  border-radius: 0.313rem;
  font-family: Lato;
  padding: 0.625rem;
  cursor: pointer;
}

.submitContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* Need a specific value to work */
  text-align: left;
  margin-top: 6.25rem;
}

.submitPrompt {
  font-family: raleway;
  font-weight: bold;
}

.searchDetails {
  position: absolute;
  top: 2.5rem;
  z-index: 1;
  text-align: right;
}

.results {
  /* position: absolute; */
  z-index: 2;
}

.courseLink {
  color: white;
  text-decoration: none;
}

@media (max-width: 1300px) {
  .container {
    padding-top: 5rem;
  }
}

@media (max-width: 1000px) {
  .container {
    padding-top: 3.125rem;
    width: 80%;
  }
}

@media (max-width: 700px) {
  .container {
    padding-top: 1.3rem;
    width: 90%;
  }
  .siteName {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 500px) {
  .container {
    padding-top: 1.875rem;
    width: 95%;
    height: 90vh;
  }
}
