@import "../../vars.css";

.image {
  margin-right: 0.625rem;
}
.container {
  text-align: center;
  color: white;
  padding-top: 6.25rem;
  z-index: 1;
  width: 50%;
  margin: auto;
  position: relative;
  height: 85vh;
  max-width: 46.875rem;
}

.siteName {
  display: flex;
  margin: auto;
  margin-bottom: 1.25rem;
  align-items: center;
  justify-content: center;
  font-family: palanquin;
  font-size: 2.875rem;
  font-weight: bold;
}

.explore {
  font-weight: bold;
  font-size: 1.375rem;
  font-family: raleway;
}

@media (max-width: 1300px) {
  .container {
    padding-top: 5rem;
  }
  .explore {
    font-size: 1.25rem;
  }
  .siteName {
    font-size: 2.5rem;
  }
  #submitPrompt {
    font-size: 1.25rem !important;
  }
}

@media (max-width: 1000px) {
  .container {
    padding-top: 3.125rem;
    width: 65%;
  }
}

@media (max-width: 700px) {
  .container {
    padding-top: 1.875rem;
    width: 75%;
  }
  .siteName {
    font-size: 2rem;
  }
  .explore {
    font-size: 1.125rem;
  }
  .exploreApi {
    font-size: 0.75rem;
  }
}

.exploreApi {
  margin-top: 0.625rem;
  font-size: 16px;
  font-family: lato;
  font-weight: regular;
  margin-bottom: 1.25rem;
}

.submitLink {
  display: inline-block;
  text-decoration: none;
  margin-top: 0.625rem;
  background: none;
  color: white;
  background-color: var(--color-darkestBlue);
  border-radius: 0.313rem;
  font-family: Lato;
  font-size: 1rem;
  padding: 0.625rem;
  cursor: pointer;
}

.submitContainer {
  position: absolute;
  bottom: 0%;
  left: 10%;
  text-align: left;
  margin-top: 6.25rem;
}

#submitPrompt {
  font-size: 1.375rem;
  font-weight: 400;
  font-family: raleway;
}

#searchDetails {
  position: absolute;
  top: 2.5rem;
  z-index: 1;
  text-align: right;
}

.results {
  /* position: absolute; */
  z-index: 2;
}
