@import "../../vars.css";
.container {
  width: 40%;
  margin: auto;
  border-radius: 15px;
  text-align: left;
  position: relative;
}

@media (max-width: 1000px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .container {
    width: 80%;
  }
}

.back {
  color: var(--color-darkestBlue);
  font-family: raleway;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
  border: none;
  background-color: transparent;
}

.form {
  text-align: left;
  border-radius: 1rem;
  padding: 3.125rem;
  position: relative;
}

.break {
  color: var(--color-darkestBlue);
  margin-top: 0.188rem;
  margin-bottom: 1.25rem;
}

.icon {
  position: absolute;
  left: 8%;
  top: -1.5rem;
}

.title {
  font-family: raleway;
  font-weight: 700;
  color: var(--color-darkestBlue);
}

.terms {
  font-style: italic;
  font-family: lato;
  color: var(--color-textGray);
  margin: auto;
}

.button {
  background-color: var(--color-lightBlue);
  color: white;
  font-family: lato;
  border: none;
  margin-top: 0.625rem;
}
