@import "../../../../vars.css";

.pageSelect {
  font-family: lato;
  text-align: left;
  color: var(--color-textGray);
}

.showTitle {
  font-family: lato;
  font-weight: 400;
  margin: 0.625rem 0px;
}

.button {
  background-color: var(--color-lightBlue);
  margin-right: 0.7rem;
  color: white;
}
