.container {
  background-color: #dae8ff;
  list-style: none;
  margin: 0.625rem 0px;
  padding: 0px 0.625rem;
  max-height: 100px;
  overflow-y: scroll;
  border-radius: 0.625rem;
}

.result {
  font-family: lato;
  margin: 1rem 0.625rem;
}

.result:hover {
  font-weight: 700;
  cursor: pointer;
}
