.container {
  margin: auto;
  text-align: center;
}

.title {
  font-family: raleway;
  font-size: 32px;
  font-weight: 600;
}

.lineGraph {
  width: 500px;
  height: 500px;
}

.chartContainer {
  width: 50%;
}

.lineContainer {
  width: 50%;
  height: 500px;
}

.scatterContainer {
  width: 100%;
}
