@import "../../../../vars.css";
.link {
  background-color: var(--color-lightestBlue);
  padding: 10px;
  margin: 15px;
  display: block;
  color: var(--color-darkBlue);
  border-radius: 8px;
  text-align: left;
  text-decoration: none;
  position: relative;
  max-width: 500px;
}

.link:hover {
  background-color: var(--color-darkBlue);
  color: var(--color-lightestBlue);
}

.title {
  font-family: raleway;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-textGray);
  margin: 20px;
  text-align: left;
}

.container {
  padding: 10px;
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .link {
    display: inline-block;
    margin: 3px;
  }
  .container {
    margin: 0px;
    width: 65%;
    text-align: left;
    overflow: scroll;
    max-height: 200px;
  }
}

@media (max-width: 900px) {
  .container {
    margin: 0px;
    width: 48%;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 0px;
    width: 100%;
  }
}
