.container {
    background-color: #dae8ff;
    list-style: none;
    margin: 10px 0px;
    padding: 0px 10px;
    max-height: 100px;
    overflow-y: scroll;
    border-radius: 9px;
}

.result {
    font-family: lato;
    font-size: 14px;
    margin: 10px;
}

.result:hover {
    font-weight: 700;
    cursor: pointer;
}