:root {
  /* colors */
  --color-darkestBlue: #162d45;
  --color-darkBlue: #284f93;
  --color-lightBlue: #4c8dfd;
  --color-lightestBlue: #d1e2ff;
  --color-gold: #ffdf2e;
  --color-orange: #ff9e2e;
  --color-textGray: #3a3a3a;

  --color-agree: #3fb54d;
  --color-disagree: #de4343;
}
