@import "../../../../vars.css";
.container {
  width: 40%;
  color: var(--color-darkestBlue);
}

.category {
  font-weight: 600;
  display: inline-block;
}

.break {
  border: none;
  height: 2px;
  background: var(--color-darkestBlue);
  margin: 0rem 0rem 0.313rem 0rem;
}

.title {
  font-weight: 600;
}

.content {
  font-weight: 400;
  margin: 0.625rem 0rem;
}

.circle {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  -webkit-border-radius: 1.625rem;
  -moz-border-radius: 1.625rem;
  border-radius: 1.625rem;
  color: none;
  border: 2px solid var(--color-darkestBlue);
  margin: 0rem 0.188rem 0rem 0rem;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
  }
}
