.terms {
  font-style: italic;
  font-family: lato;
  color: var(--color-textGray);
  margin: auto;
}

.input {
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.438rem;
  border: none;
  background-color: var(--color-lightestBlue);
}

.label {
  display: block;
  margin-bottom: 0.313rem;
  margin-top: 1rem;
  font-family: lato;
  font-weight: 700;
  color: var(--color-darkestBlue);
}
